{% extends "friender/layout.html" %}
{% block body %}
    <form action="{% url 'show_people' %}" method="post">
        {% csrf_token %}
        <label for="region">Region:</label>
        <select name="region" id="region">
            {% for region in regions %}
                <option value="{{ region.name }}">{{ region.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Choose</button>
    <br><br>
    <h1>People in {{ region.name }} :</h1>
    <div class="people">
    {% for person in people %}
        <div class="person">
            <a href="{% url 'message' person.id %}"><img class="image" src="{{ person.image }}" height="200px" width="200px" /></a>
            <br>
            <h1 class="name">{{ person.name }}</h1>
        </div>
    {% empty %}
        <br>
        <h1 class="message">No people found in that region</h1>
    {% endfor %}
    </div>
{% endblock %}
